<div class="container-fluid">
  <div class="page-header">
    <h1 *ngIf="formMetadata && initialData">
      <ng-container *ngIf="isNew">Dodawanie nowego elementu</ng-container>
      <ng-container *ngIf="!isNew">Edycja elementu
        <b>{{ initialData.displayName }}</b>
      </ng-container>
    </h1>
  </div>

  <ng-container *ngIf="formMetadata && initialData && !isFailure">

    <form class="form-horizontal" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">

      <mko-editor-form-row [boundFormControl]="unitPrice" [metadata]="controlMetadata['unitPrice']">
      </mko-editor-form-row>
      <mko-editor-form-row [boundFormControl]="startYear" [metadata]="controlMetadata['startYear']">
      </mko-editor-form-row>
      <mko-editor-form-row [boundFormControl]="lastName" [metadata]="controlMetadata['lastName']">
      </mko-editor-form-row>
      <mko-editor-form-row [boundFormControl]="notifyViaMail" [metadata]="controlMetadata['notifyViaMail']">
      </mko-editor-form-row>

      <mko-form-row [formGroup]='extraPerson' [control]="extraPerson" [label]="controlMetadata['extraPerson']?.label" [help]="controlMetadata['extraPerson']?.help"
        [id]="extraPersonFirstName.id">
        <div class="row">
          <div class="col-sm-6">
            <mko-string-control #extraPersonFirstName [formControl]="extraPerson.controls['firstName']" 
              [metadata]="controlMetadata['extraPerson'].controls['firstName']">
            </mko-string-control>
          </div>
          <div class="col-sm-6">
            <mko-string-control #extraPersonLastName [formControl]="extraPerson.controls['lastName']" 
              [metadata]="controlMetadata['extraPerson'].controls['lastName']">
            </mko-string-control>
          </div>
        </div>

        <mko-validation-errors [control]="extraPerson.controls['firstName']" [label]="controlMetadata['extraPerson'].controls['firstName'].label"
          [id]="extraPersonFirstName.id"></mko-validation-errors>
        <mko-validation-errors [control]="extraPerson.controls['lastName']" [label]="controlMetadata['extraPerson'].controls['lastName'].label"
          [id]="extraPersonLastName.id"></mko-validation-errors>

      </mko-form-row>

      <mko-form-row [control]="address" [label]="controlMetadata['address']?.label" [help]="controlMetadata['address']?.help" [id]="addressTv.address1.id">
        <app-address #addressTv [control]="address" [initialData]="initialData?.address" [controlMetadata]="controlMetadata['address']"></app-address>
      </mko-form-row>

      <mko-form-row formArrayName="recipients" [control]="recipients" [label]="controlMetadata['recipients']?.label" [help]="controlMetadata['recipients']?.help">
        <ng-container *ngFor="let recipient of this.recipients.controls; let i = index">
          <div class="row array-entry-row">
            <div class="col-sm-6">
              <mko-string-control #recipientStringControl [formControl]="recipients.controls[i]" [metadata]="controlMetadata['recipients'].itemMetadata">
              </mko-string-control>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
              <button type="button" class="btn btn-danger" (click)="removeRecipient(i)">Remove</button>
            </div>
            <div class="col-sm-12">
              <mko-validation-errors [control]="recipients.controls[i]" [label]="controlMetadata['recipients'].itemMetadata.label" [id]="recipientStringControl.id"></mko-validation-errors>
            </div>
          </div>
        </ng-container>
        <div class="row array-new-button-row">
          <div class="col-sm-2 col-sm-offset-7">
            <button type="button" class="btn btn-success" (click)="addRecipient(null)">New</button>
          </div>
        </div>
      </mko-form-row>



      <mko-form-row formArrayName="contacts" [control]="contacts" [label]="controlMetadata['contacts']?.label" [help]="controlMetadata['contacts']?.help">
        <ng-container *ngFor="let contact of this.contacts.controls; let i = index">
          <div class="row array-entry-row">
            <div class="col-sm-4">
              <mko-string-control #firstNameStringControl [formControl]="contacts.controls[i].controls.firstName"
                [metadata]="controlMetadata['contacts'].itemMetadata.controls.firstName">
              </mko-string-control>
            </div>
            <div class="col-sm-4">
              <mko-string-control #lastNameStringControl [formControl]="contacts.controls[i].controls.lastName"
                [metadata]="controlMetadata['contacts'].itemMetadata.controls.lastName">
              </mko-string-control>
            </div>

            <div class="col-sm-3 col-sm-offset-1">
              <button type="button" class="btn btn-danger" (click)="removeContact(i)">Remove</button>
            </div>
            <div class="col-sm-12">
              <mko-validation-errors [control]="contacts.controls[i].controls.firstName" [label]="controlMetadata['contacts'].itemMetadata.controls.firstName.label"
                [id]="firstNameStringControl.id"></mko-validation-errors>
              <mko-validation-errors [control]="contacts.controls[i].controls.lastName" [label]="controlMetadata['contacts'].itemMetadata.controls.lastName.label"
                [id]="lastNameStringControl.id"></mko-validation-errors>
            </div>
          </div>
        </ng-container>
        <div class="row array-new-button-row">
          <div class="col-sm-2 col-sm-offset-9">
            <button type="button" class="btn btn-success" (click)="addContact(null, null);">New</button>
          </div>
        </div>
      </mko-form-row>

      <mko-form-errors [control]="myForm"></mko-form-errors>

      <mko-form-actions (save)="onSubmit();" (cancel)="onCancel();" [isSaving]="isSaving" [isCancelling]="isCancelling"></mko-form-actions>
    </form>

  </ng-container>

  <ng-container *ngIf="!formMetadata || !initialData">
    <div>Loading...</div>
  </ng-container>

  <mko-operation-failed [active]="isFailure" [bodyHtml]="failureMessage" [backLinkUrl]="formMetadata?.cancelUrl"></mko-operation-failed>
</div>
<mko-overlay [active]="isSaving || isCancelling"></mko-overlay>