<div class="row control-row">
  <div class="col-sm-12">
    <mko-string-control #address1 [formControl]="control?.controls['address1']" [control]="control?.controls['address1']" [metadata]="controlMetadata.controls['address1']">
    </mko-string-control>
    <mko-validation-errors [control]="control?.controls['address1']" [label]="controlMetadata?.controls['address1'].label" [id]="address1.id"></mko-validation-errors>
  </div>
</div>
<div class="row control-row">
  <div class="col-sm-12">
    <mko-string-control #address2 [formControl]="control?.controls['address2']" [control]="control?.controls['address2']" [metadata]="controlMetadata.controls['address2']">
    </mko-string-control>
    <mko-validation-errors [control]="control?.controls['address2']" [label]="controlMetadata?.controls['address2'].label" [id]="address2.id"></mko-validation-errors>
  </div>
</div>
<div class="row control-row">
  <div class="col-sm-4">
    <mko-string-control #zip [formControl]="control?.controls['zip']" [control]="control?.controls['zip']" [metadata]="controlMetadata.controls['zip']">
    </mko-string-control>
  </div>
  <div class="col-sm-8">
    <mko-string-control #city [formControl]="control?.controls['city']" [control]="control?.controls['city']" [metadata]="controlMetadata.controls['city']">
    </mko-string-control>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <mko-validation-errors [control]="control?.controls['zip']" [label]="controlMetadata?.controls['zip'].label" [id]="zip.id"></mko-validation-errors>
    <mko-validation-errors [control]="control?.controls['city']" [label]="controlMetadata?.controls['city'].label" [id]="city.id"></mko-validation-errors>
  </div>
</div>