/* You can add global styles to this file, and also import other style files */
div.error-message {
    color: red;
    font-weight: bold;
}

.-mko-control-size-small
{
    width: 10em;
}

.-mko-control-size-medium
{
    width: 30em;
}

.-mko-control-size-large
{
    width: 100%;
}