<h1>Connections</h1>
<p-table #dt [columns]="cols" [value]="connections" [paginator]="true" pageLinks="10" [rows]="20" [resizableColumns]="true"
  [reorderableColumns]="true" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="connectionCount" [loading]="loading"
  sortMode="multiple">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="szukaj" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of columns">
        <ng-container *ngIf="col.isSortable">
          <th [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </ng-container>
        <ng-container *ngIf="!col.isSortable">
            <th pReorderableColumn pResizableColumn>
              {{col.header}}
            </th>
          </ng-container>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-connection let-columns="columns">
    <tr>
      <ng-container *ngFor="let col of columns">
        <ng-container *ngIf="col.isHtml">
          <td [innerHTML]="connection[col.field]">

          </td>
        </ng-container>
        <ng-container *ngIf="!col.isHtml">
          <td>
            {{connection[col.field]}}
          </td>
        </ng-container>


      </ng-container>
    </tr>
  </ng-template>
</p-table>