<h1>Connections
  <span *ngIf="namedView"> - {{namedView.name}}</span>
</h1>

<p-growl [(value)]="msgs"></p-growl>

<!-- the overlay panel for the column selection -->
<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
  <ng-container *ngFor="let item of cols">
    <div>
      <p-checkbox name="columns" [value]="item" [label]="item.header" [(ngModel)]="selectedColumns">
      </p-checkbox>
    </div>
  </ng-container>
</p-overlayPanel>


<div style="margin-bottom: 32px;">
  <p-toolbar>

    <div class="ui-toolbar-group-left">
      <p-toggleButton [onIcon]="'fa fa-filter'" onLabel="" offLabel="" offIcon="fa fa-filter" [(ngModel)]="filtersVisible"></p-toggleButton>
      <button type="text" pButton icon="fa fa-columns" (click)="op.show($event)" class="ui-button-info" title="Wybierz kolumny"></button>

      <i class="fa fa-ellipsis-v" style="margin-left: 0.5em; margin-right: 0.5em;"></i>

      <button pButton type="button" label="Zachowaj" (click)="saveCurrentAsTemporaryView();"></button>
      <button pButton type="button" label="Przywróć" (click)="restoreRecentView(true);"></button>

      <i class="fa fa-ellipsis-v" style="margin-left: 0.5em; margin-right: 0.5em;"></i>

      <p-tieredMenu #savedViewsMenu [model]="savedViews" [popup]="true"></p-tieredMenu>
      <button #savedViewsButton type="button" pButton icon="fa fa-list-ul" (click)="savedViewsMenu.toggle($event)"></button>

      <p-tieredMenu #manageViewsMenu [model]="manageViews" [popup]="true"></p-tieredMenu>
      <button #settingsButton type="button" pButton icon="fa fa-cog" (click)="manageViewsMenu.toggle($event)"></button>
    </div>

    <div class="ui-toolbar-group-right">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Znajdź" (input)="this.dataTable.filterGlobal($event.target.value, 'contains')"
          [(ngModel)]="filterControls['global']" />
        <span class="ui-inputgroup-addon">
          <i class="fa fa-search"></i>
        </span>

      </div>
    </div>
  </p-toolbar>
</div>

<p-table #dt id="dataTable" [columns]="selectedColumns" [value]="connections" [paginator]="true" pageLinks="10" [rows]="20"
  [resizableColumns]="true" [autoLayout]="isAutoLayout" [reorderableColumns]="true" [lazy]="true" (onLazyLoad)="loadData($event)"
  [totalRecords]="connectionCount" [loading]="loading" sortMode="multiple" (onColReorder)="onColReorder($event);" *ngIf="visible">

  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of columns">
        <ng-container *ngIf="col.isSortable">
          <th [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </ng-container>
        <ng-container *ngIf="!col.isSortable">
          <th pReorderableColumn pResizableColumn>
            {{col.header}}
          </th>
        </ng-container>
      </ng-container>
    </tr>
    <tr *ngIf="filtersVisible">
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchDefault pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" [(ngModel)]="filterControls[col.field]"
        />

      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-connection let-columns="columns">
    <tr (dblclick)="rowClicked(connection);">
      <ng-container *ngFor="let col of columns">
        <ng-container *ngIf="col.isHtml">
          <td [innerHTML]="connection[col.field]">

          </td>
        </ng-container>
        <ng-container *ngIf="!col.isHtml">
          <td>
            {{connection[col.field]}}
          </td>
        </ng-container>


      </ng-container>
    </tr>
  </ng-template>
</p-table>
<br/>


<app-save-view-dialog #saveViewDialog></app-save-view-dialog>
<p-confirmDialog header="Potwierdzenie" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>