<div class="form-group" [class.has-error]="control && (control.invalid && (control.dirty || control.touched))" [class.has-success]="control?.valid">
  <div class="{{ labelClass }} label-wrapper">
    <label class="control-label" for="{{id}}">{{ label }}</label>
      <a class="help-icon" role="button" tabindex="0" data-trigger="focus"  [class.inactive]="!help" #helpIcon><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
  <div class="{{ valueClass }}">
    <ng-content></ng-content>
    <mko-validation-errors [control]="control" [label]="label" [id]="id"></mko-validation-errors>
  </div>
</div>
